In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

#train = pd.read_csv('TRAIN_nonMissing_withTime.csv')
test = pd.read_csv("TEST_nonMissing_withTime.csv")

In [17]:
# create the first guess prediction: with the previous gap
import datetime
test['DATE'] = pd.to_datetime(test['DATE'])
timeID = []
distID = []
pred = []
#test1 = test[['ID','DATE','SLOTID','GAP']]
for i in range(len(test['ID'])):
    row = test.iloc[i,:]
    distID.append(row['ID'])
    date = row['DATE'].date()
    timeID.append(str(date.year)+ '-' +str(date.month) + '-' +str(date.day) + '-' +str(row['SLOTID']+2)) # 
    pred.append(row['GAP_1'])
submitResult1 =pd.DataFrame({'distID': distID,
                            'timeID': timeID,
                            'GAP': pred}) 
submitResult1 = submitResult1[['distID','timeID','GAP']]
submitResult1.to_csv("submitResult1.csv",header= None ,index=None)
len(submitResult1['distID'])

TypeError: cannot concatenate 'str' and 'int' objects

In [16]:
row['DATE'].date().year

2016

In [14]:
submitResult1[:10]

   distID                   timeID  GAP
0       1   2016-01-22 00:00:00-48  175
1       1   2016-01-22 00:00:00-60  210
2       1   2016-01-22 00:00:00-72  169
3       1   2016-01-22 00:00:00-84  173
4       1   2016-01-22 00:00:00-96  174
5       1  2016-01-22 00:00:00-108  257
6       1  2016-01-22 00:00:00-120  248
7       1  2016-01-22 00:00:00-132  233
8       1  2016-01-22 00:00:00-144  124
9       1   2016-01-24 00:00:00-48    0